<div class="home">
  <div class="home_image">
    <%= image_tag '/main.png' %>
  </div>
  <div class="home_menu_waku">
    <% if logged_in? %>
        <div class="mypage_link">
          <p><%= link_to "My page",   @current_user , class: "signup_button"%></p>
        </div>
    <% else %>
        <div class="home_menu">
          <%= render "shared/login_form" %>
        </div>
    <% end %>
  </div>
</div>
