/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* リセット用CSSココカラ*/
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

 .web{
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  cursor: url(/cursor.cur),auto;
  background-color: #fffcf2;
  font-size: 15px;
  color: #003763;
  position: relative; 
  width: 100%; 
  height: auto !important;
  height: 100%; 
  min-height: 100%;
}

ul, ol {
  list-style: none;
}

a{
  color : inherit;
}
 /* リセット用CSSココマデ*/

 /*ヘッダ設定ココカラ*/

 ul {
  list-style:none;
}
div {
  padding: 0 30px;
}
.header {
  display: flex;
  height:60px;
  align-items: center;
  height:120px
}
.header_menu {
  margin-left: auto;
}
.header ul {
  display: flex;
}
.header ul li {
  margin-left: 10px;
}

.header li{
  width: 140px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border:3px solid;
  border-color: #fffffd #e8e5db #e8e5db #fffffd;
  border-radius:10px;
}

.header li:active{
  width: 140px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border:3px solid;
  border-color: #e8e5db #fffffd #fffffd #e8e5db;
  border-radius:10px;
}

.button{
  color: #003763;
  display: block;
}
/*ヘッダ設定ココマデ*/
/*ページ共通設定ココカラ*/
.main{
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
}

.ui.container{
  margin-left: 200px;
  margin-right: 200px;
}

.debug-info{
  display:inline-block;
  font-size: 15px;
  padding: 5px;
  border:3px solid;
  border-color: #e8e5db #fffffd #fffffd #e8e5db;
  border-radius:10px;
  color: #003763;
  display: block;
}
/*ページ共通設定ココマデ*/
/*各種ボタン設定ココカラ*/
.new_button{
  display: block;
}
.button{
  cursor: hand; cursor:pointer;
  display: block;
}

.signup_button{
  width: 140px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border:3px solid;
  border-color: #fffffd #e8e5db #e8e5db #fffffd;
  border-radius:10px;
  background-color: #fffcf2;
  color: #003763;
}

.signup_button:active{
  width: 140px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border:3px solid;
  border-color: #e8e5db #fffffd #fffffd #e8e5db;
  border-radius:10px;
}
/*各種ボタン設定ココカラ*/
/*ページ個別設定ココカラ*/

/*ログインページ ココカラ*/
div.login_card{
  text-align: center;
}

div.login_card{
  margin:30px auto 0 auto;
  width: 500px;
  text-align: center;
  padding: 5px;
  border:3px solid;
  border-color: #fffffd #e8e5db #e8e5db #fffffd;
  border-radius:10px;
  background-color: #fffcf2;
  color: #003763;
  margin-bottom: 100px;
}
div.login_page{
  width: 100%;
}
.login_main h2{
  padding: 10px 0 60px 0;
}
/*ログインページ ココマデ*/

/*フッター設定ココカラ*/

.footer{
  position: absolute;/*絶対位置*/
  bottom: 0; /*下に固定*/
  height: 30px; /*高さ指定*/
  width: 100%; /*幅指定*/
  margin-top: 100px;
}
div.copy{
  width: 50px; /*幅指定しないと中央に寄らない（ブロック要素の場が100%以上に見えるから）*/
  margin: 0 auto;/*autoにすると親要素の1/2になって中央に寄る*/
  color: #003763;
}

/*フッター設定ココマデ*/