.home{
  margin-top: 100px;
  width: 100%;
  height: 550px;
  display: flex;
  padding-left: 0px;
}
.signup_button{
  display: block;
}

.home_image{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  margin-right: 100px;
}
.home_menu_waku{
  width: 50%;
}
.home_menu{
  margin-top: 110px;
  margin-left: 60px;
}
.image{
  margin-left: 0px;
}
.mypage_link{
  margin-top: 110px;
  margin-left: 60px;
}