.login_button{
  width: 140px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border:3px solid;
  border-color: #fffffd #e8e5db #e8e5db #fffffd;
  border-radius:10px;
  background-color: #fffcf2;
  color: #003763;
}

.login_button:active{
  width: 140px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border:3px solid;
  border-color: #e8e5db #fffffd #fffffd #e8e5db;
  border-radius:10px;
}

.form{
  margin-bottom: 30px;
}
.button{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}


.login_submit{
  margin-left: 75px;
}


.form-control{
  background-color: #fffcf2;
  border:3px solid;
  border-color: #e8e5db #fffffd #fffffd #e8e5db;
  border-radius:10px;
  width:260px;
}

.login_signnup{
  margin-left: 75px;
  color: #fffcf2;
}

.login_signnup p{
  height: 39px;
  width: 140px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border:3px solid;
  border-color: #0060ad #001c33 #001c33 #0060ad;
  background-color: #003763;
  color: #fffcf2;
  border-radius:10px;
}

.login_signnup p:active{
  width: 140px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  background-color: #003763;
  color: #fffcf2;
  border:3px solid;
  border-color: #001c33 #0060ad #0060ad #001c33;
  border-radius:10px;
}

.new_button{
  color:#fffcf2;
}


.test_button{
  width:auto;
  margin-right: 30px;
}